@font-face{
font-family:'Alivia';
src:url('https://cdn.jsdelivr.net/gh/villedesmerveilles/FontVM/AliviaRegular.ttf') format('truetype');
}

@font-face{
font-family:'Bodoni XT';
src:url('https://cdn.jsdelivr.net/gh/villedesmerveilles/FontVM/BodoniXT.ttf') format('truetype');
}

@font-face{
font-family:'Quincho Script';
src:url('https://cdn.jsdelivr.net/gh/villedesmerveilles/FontVM/QuinchoScript_PersonalUse.ttf') format('truetype');
}
